<h1>Ci-dessous notre contacts</h1>
<table class="table table-sm">
    <thead>
       <td>Nom Collaborateur</td>
        <td>Contact</td> 
    </thead>
    <tbody>
        <tr class="table-active"><td>Steff</td>
            <td><a href="mailto:srandrianomanina@gmail.com">srandrianomanina@gmail.com</a></td></tr>
            <tr class="table-primary"><td>Tsix</td>
            <td><a href="mailto:randriamamonjisoanantenaina@gmail.com">randriamamonjisoanantenaina@gmail.com</a></td></tr>
    
</tbody>
</table>

