
<div class="welcome deco">BIENVENUE <%= @name %> ! Ici c'est notre super site de potins</div>

<div>
    <table class="table table-bordered" style="background-color: green;" style="width: auto;"><tr><td><%= @name %></td><td><%= @gossip %></td></tr></table>
</div>
